<%= form_for @cheque, html: { class: "form-horizontal" } do |f| %>
  <% if @cheque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cheque.errors.count, "error") %> prohibited this cheque from being saved:</h2>

      <ul>
      <% @cheque.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :payment_date, class: "control-label" %>
    <div class="controls">
      <div class="input-append date datepicker" data-date-format="dd-mm-yyyy">
        <%= f.text_field :payment_date, 'data-behaviour' => 'datepicker' %>
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :recipient, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :recipient, id: "recipient-field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :value, class: "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">$</span>
        <%= f.text_field :value %>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit %>
    </div>
  </div>
  <script type="text/javascript">
    $('.datepicker').datepicker({
      autoclose: true
    });
  </script>
<% end %>
