<h1>Listing cheques
  <% if @filtered %>
   (for <%= @recipient %>)
</h1>
<%= link_to '(clear filter)', cheques_path %>
  <% else %>
</h1>
  <% end %>

<table class="table table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th>Cheque Number</th>
      <th>Payment Date</th>
      <th>Recipient</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cheques.each do |cheque| %>
      <tr>
        <td><%= link_to cheque.id.to_s.rjust(7, '0'), cheque %></td>
        <td><%= cheque.payment_date.strftime('%d/%m/%Y') %></td>
        <td><%= link_to cheque.recipient, cheques_path(recipient: cheque.recipient) %></td>
        <td>$<%= number_with_precision(cheque.value, precision: 2) %></td>
        <td>
          <div class="btn-toolbar" id="cheque-actions">
            <div class="btn-group">
              <%= link_to '<span class="icon-eye-open">Show Cheque</span>'.html_safe, 
                cheque, class: 'btn' %>
              <%= link_to '<span class="icon-edit">Edit Cheque`</span>'.html_safe, 
                edit_cheque_path(cheque), class: 'btn' %>
              <%= link_to '<span class="icon-remove-circle icon-white">Delete Cheque</span>'.html_safe, 
                cheque, class: 'btn btn-danger', 
                method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Total Cheques</td>
      <td><%= @cheques.length %></td>
      <td>Total Value</td>
      <td>$ <%= number_with_precision(@cheques.map(&:value).inject(:+), precision: 2) %></td>
    </tr>
  </tfoot>
</table>

<br>

<%= link_to 'New Cheque', new_cheque_path %>
