<h1>Listing cheques
  <% if @filtered %>
   (for <%= @recipient %>)
</h1>
<%= link_to '(clear filter)', cheques_path %>
  <% else %>
</h1>
  <% end %>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Payment date</th>
      <th>Recipient</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cheques.each do |cheque| %>
      <tr>
        <td><%= cheque.value %></td>
        <td><%= cheque.payment_date %></td>
        <td><%= link_to cheque.recipient, cheques_path(:recipient => cheque.recipient) %></td>
        <td><%= link_to 'Show', cheque %></td>
        <td><%= link_to 'Edit', edit_cheque_path(cheque) %></td>
        <td><%= link_to 'Destroy', cheque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cheque', new_cheque_path %>
