<p id="notice"><%= notice %></p>

<div id="cheque">
  <div id="bank-logo"></div>
  <p id="cheque-id"><%= @cheque.id.to_s.rjust(7, '0') %></p>
  <p id="cheque-date">DATE <%= @cheque.payment_date.to_time.strftime('%d/%m/%Y') %></p>
  <p id="cheque-recipient">PAY <%= @cheque.recipient %> to the amount of</p>
  <p id="cheque-value-words"><%= @cheque.value_to_words %></p>
  <p id="cheque-value">$<%= @cheque.value %></p>
  <p id="signature"></p>
</div>

<div id="actions">
  <%= link_to 'Edit', edit_cheque_path(@cheque) %> |
  <%= link_to 'Back', cheques_path %>
</div>
