<!DOCTYPE html>
<html>
<head>
  <title>VirtualCheque</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Oxygen:300|Iceland' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="cf">
    <nav>
      <%= link_to 'Cheques', cheques_path %>
      <%= link_to 'New', new_cheque_path %>
    </nav>
    <div id="branding">
      <%= link_to 'LiamBank', root_url, class: 'brand' %>
      <%= image_tag 'LiamBank.png', alt: 'リアム銀行' %>
    </div>
  </header>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
